<h1><%= @note.name %></h1>

<%= form_for @note do |f| %>
	<div class="row">
		<div class="medium-15 columns">  
			<%= f.text_area :body, rows: "10" %>
  		</div>
  		<%= f.submit "save", :data => { disable_with: false } %>
  	</div>
<% end %>